@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Kanit';
  font-feature-settings: 'clig' off, 'liga' off;
  color: #EFEFEF;
}



.App {
  text-align: center;
  display:flex;
}
.routes-container {
  width:100%;
  overflow: hidden;
}

.main-container {
  width:100%;
  height: 100vh;
  background: linear-gradient(#313B4B, #51565D);
}